<div class="card mb-3 mt-3">

    <div class="card-header bg-dark text-light text-center">
      <h5 class="card-title">{{employee.name}}</h5>

      <h6 class="card-title" [ngSwitch]="employee.department">
        <span *ngSwitchCase="1">Help Desk</span>
        <span *ngSwitchCase="2">HR</span>
        <span *ngSwitchCase="3">IT</span>
        <span *ngSwitchCase="4">Payroll</span>
        <span *ngSwitchDefault>N/A</span>
        <!-- {{ employee.department }} -->
      </h6>

    </div>

    <div class="card-body">

      <div class="col-xs-12">
        <div class="row vertical-align">

          <div class="col-sm-4">
            <img class="img-fluid" src="{{ employee.photoPath }}" alt="Card image cap">
          </div> <!-- End col-sm-4 -->
          <div class="col">

            <div class="row justify-content-between">
              <div class="col">
                Gender :
              </div>
              <div class="col">
                {{employee.gender}}
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col">
                Date of Birth :
              </div>
              <div class="col">
                {{employee.dateOfBirth | date}}
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col">
                Contact Preference :
              </div>
              <div class="col">
                {{employee.contactPreference}}
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col">
                Phone :
              </div>
              <div class="col">
                {{employee.phoneNumber}}
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col">
                Email :
              </div>
              <div class="col">
                {{employee.email}}
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col">
                Department :
              </div>
              <div class="col" [ngSwitch]="employee.department">
                <!-- {{employee.department}} -->
                <span *ngSwitchCase="1">Help Desk</span>
                <span *ngSwitchCase="2">HR</span>
                <span *ngSwitchCase="3">IT</span>
                <span *ngSwitchCase="4">Payroll</span>
                <span *ngSwitchDefault>N/A</span>
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col">
                is Active :
              </div>
              <div class="col">
                {{employee.isActive}}
              </div>
            </div>

          </div> <!-- End col -->
        </div> <!-- End row -->
      </div> <!-- End col-xs-12 -->

    </div> <!-- End card-body ! -->
  </div> <!-- End card ! -->
