<!-- <h1 #h1Variable>
</h1>
<div class="col" *ngFor="let employee of employees">
  <div (click)="h1Variable.innerHTML = childComponent.displayNameAndGender()">
    <app-display-employee [employee]="employee" #childComponent></app-display-employee>
  </div>
</div> -->

<mat-form-field class="example-full-width">
  <input matInput placeholder="Search by name" style="width: 300px" [(ngModel)]="searchTrack">
</mat-form-field>

<div class="col" *ngFor="let employee of employees | employeeFilter:searchTrack">
  <div (click)="onClick(employee.id)" class="pointer">
    <app-display-employee [employee]="employee" #childComponent></app-display-employee>
  </div>
  <!-- End col !-->
</div>
