// MAIN-NAV
.side-container {
  position: relative;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  width: 200px;
  background: #bdc3c7;
  button, a {
    background: #343a40;
    color: #fff;
    display: block;
    padding: 0 24px;
    height: 48px;
    width: 100%;
    margin: 0 0 5px 0;
    text-decoration: none;
    text-align: center;
  }
  a:hover {
    text-decoration: none;
  }

  mat-sidenav-content {
    #toggle {
      color: #000 !important;
      i {
        height: 48px;
        width: 20%;
        color: #000;
      }
    }
  }
}
.mat-sidenav-fixed {
  position: absolute;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #16a085;
  color: #fff;
  border-radius: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

