<ng-container>
  <mat-toolbar color="primary" class="header">Header</mat-toolbar>

  <mat-sidenav-container class="side-container">

    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">

      <button mat-raised-button routerLink="./list">LIST</button>
      <button mat-raised-button routerLink="./create">CREATE</button>

    </mat-sidenav>

    <mat-sidenav-content>
      <p>
        <button mat-button (click)="sidenav.toggle()">Toggle</button>
      </p>
      <router-outlet></router-outlet> <!-- ROUTER-OUTLET -->

    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- <mat-toolbar class="footer" color="primary">Footer</mat-toolbar> -->
</ng-container>
